body {
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	transition: opacity 1.5s;
}

body.hide {
	opacity: 0;
}

a {
	color: #F554B1;
}

strong {
	font-weight: 600;
}

header {
	background-image: url("./leaves.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 85vh;
	min-height: 700px;
	display: flex;
	align-items: center;
}

header .text {
	width: 100%;
	max-width: 300px;
	margin: auto;
	padding: 60px 0;
	color: #fff;
}

.name {
	font-family: 'Amatic SC', cursive;
}

.strike {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.strike::before, .strike::after {
  content: '';
  height: .125em;
  background: #fff;
  flex: 1;
}

.strike::before {
	margin-right: .25em;
}

.strike::after {
  margin-left: .25em;
}

main {
	width: 100%;
	max-width: 600px;
	margin: auto;
	padding: 48px 0;
}
